<% if @element.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@element.errors.count, "error") %> prevented this element from being created:</h5>

    <ul>
    <% @element.errors.full_messages.each do |message| %> 
      <p> <li><%= message %></li> </p>
    <% end %>
    </ul>
    
  </div>
<% end %>