<div class="container">
<%= link_to '<i class="material-icons">chevron_left</i>'.html_safe, users_path, class: :"btn-floating waves-effect waves-light" %>
<h1>Editing User</h1>

<%= render 'form' %>

<% #link_to 'Show', @user, class: :"waves-effect waves-light btn back" %>
</div>
