<p id="notice"><%= notice %></p>

<h1 class="center">Welcome to BrightFolio</h1>
<div class="user_basics center">
  <%= link_to new_user_path, class: 'btn-large waves-effect waves-light' do %>
  Register <i class="fa fa-register"></i>
  <% end %>

  <%= link_to login_path, class: 'btn-large waves-effect waves-light' do %>
  Login <i class="fa fa-plus-login"></i>
  <% end %>
</div>

<div class="about">
  <h4></h4>
</div>

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="gray-text">Why BrightFolio?</h5>
          <p class="grey-text">Monocle ipsum dolor sit amet ettinger Melbourne intricate, business class flat white signature the highest quality carefully curated concierge. St Moritz espresso classic the best Gaggenau Sunspel joy emerging liveable Baggu. Quality of life Ettinger sophisticated Fast Lane, remarkable emerging flat white bureaux finest. Punctual conversation essential pintxos, Asia-Pacific Helsinki iconic.</p>
        </div>
      </div>
    </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="cyan-text text-lighten-3" href="">BrightFolio</a>
      </div>
    </div>
  </footer>
  </div>
