<div class="container-form">
	<%= link_to '<i class="material-icons">chevron_left</i>'.html_safe, root_path, class: :"btn-floating waves-effect waves-light " %>
	<h1>Register as a New User</h1>

	<%= render 'users/form' %>

</div>

