<div class="container">
	<h1>Register as a New User</h1>

	<%= render 'form' %>

	<%= link_to '<i class="material-icons">chevron_left</i>'.html_safe, users_path, class: :"btn-floating waves-effect waves-light" %>
</div>

