<div class="slider">
   <ul class="slides z-depth-2">
     <li>
       <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
       <div class="caption left-align">
         <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
       <div class="caption right-align">
         <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
   </ul>
 </div>


  <!-- <p id="notice"><%= notice %></p>

  <% if current_user == nil %>
    <h1 class="center">Welcome</h1>
    <div class="user_basics center">
      <%= link_to 'Register', new_user_path, class: 'btn-large waves-effect waves-light block' %>
      <%= link_to 'Login', login_path, class: 'btn-large waves-effect waves-light block' %>
    </div>
  <% end %>

  <div class="container">
    <h5 class="gray-text">Why BrightFolio?</h5>
    <p class="grey-text">Monocle ipsum dolor sit amet ettinger Melbourne intricate, business class flat white signature the highest quality carefully curated concierge.</p>
  </div>

  <div class="container">
    <h5 class="gray-text">Glossary/Key/Guide</h5>
    <p class="grey-text">We wanted to keep the interface pretty clean, so when possible, we just used icons for control.</p>
    <ul>
      <li></li>
    </ul>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      Made by <a class="cyan-text text-lighten-3" href="">BrightFolio</a>
    </div>
  </footer> -->
