<div class="slider">
   <ul class="slides z-depth-2">
     <li>
       <img src="https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740"> <!-- random image -->
       <div class="caption center-align">
         <h3>Why Brightfolio?</h3>
         <h5 class="light grey-text text-lighten-3">We make your life better with storage, organization, and design.</h5><br><br>
         <%= link_to 'Get Started', new_user_path, class: 'btn-large waves-effect waves-light block' %>
       </div>
     </li>
     <li>
       <img src="https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca5701e0f1e03876b6bd3477a2390f7f"> <!-- random image -->
       <div class="caption left-align">
         <h3>All of your best work, right here.</h3>
         <h5 class="light grey-text text-lighten-3">No matter what you do, we keep it all together.  We are a storage solution for images, documents, notes, and music.</h5>
       </div>
     </li>
     <li>
       <img src="https://images.unsplash.com/photo-1426443177319-df7c639993c8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4623457bf92cf1a404bcb19e4f93a886"> <!-- random image -->
       <div class="caption right-align">
         <h3>Design it how you want.</h3>
         <h5 class="light grey-text text-lighten-3">Customize your fonts, colors, and content.  Make your files your own.</h5>
       </div>
     </li>
   </ul>
 </div>

 <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s12 m4">
    <h5>Screenshots go here - Teacher</h5>
  </div>
  <div class="col s12 m4">
    <h5>Screenshots go here - Designer</h5>
  </div>
  <div class="col s12 m4">
    <h5>Screenshots go here - Musician</h5>
  </div>
</div>
  <footer class="page-footer teal">
    <div class="footer-copyright">
      Made by <a class="cyan-text text-lighten-3" href="">BrightFolio</a>
    </div>
  </footer>
