/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize/components/color";
$primary-color: color("black", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both; }

.inline {
  display: inline;
}

/*main containers*/
body {
background-color: #ffffff;
}

.folio {
  background-color: #4D4D4D;
  height: 100%;
  padding: 2% .5%;
}

.container {
  margin: 0 auto;
  padding: 1%;
  width: 95%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 30px;
  margin-top: 30px;
}

#container:after {
  content: ' ';
  display: block;
  clear: both;
}

.elements {
  /*display: relative;*/
  /*margin-top: 30px;*/
 }
.element.card a {
  color: #F9B029;
}

.card {
  box-shadow: none;
}

.block {
  display: block;
  width: 40%;
}
.title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*background-color: #ffffff;*/
  color: teal;
  text-align: center;
  padding: 5%;
  line-height: 16px;
  letter-spacing: 1px;
  /*margin-top: -30px;*/
}

.description {
  padding: 3% 4% 3% 4%;
  line-height: 10px;
  text-align: center;
  color: white;
  background-color: black;
}

/*icons*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
  vertical-align: middle;
}

/* Images */
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.responsive-logo {
    max-width: 80%;
    max-height: 60px;
    /*width: 60%;*/
    min-width: 200px;
}

.primary-img {
  width: 100%;
}
.card_img {
  box-shadow: 0;
}

/* =Top Bar
-------------------------------------------------------------- */
.welcome {
  background-color: teal;
  color: #fff;
  padding: .5%;
}

.welcome a {
  color: white;
  /*display: inline-block;*/
  font-size: .8em;
  margin: 0 10px;
  padding: .5%;
  text-transform: uppercase;
  letter-spacing: 10%;
}

/*errors*/
#notice  {
  color: #43DFFF;
  /*background-color: #C6FFF7;*/
  padding: 1%;
  margin: 1%;
}

.errors {
	color: #FF814D;
  padding: 20px;

}

.field_with_errors {
  padding: 2px;
  background-color: #FFD3BF;
  /*display: table;*/
}

#error_explanation {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #FF2626;
  padding: 0 3%;
  padding-bottom: 0;
  margin-bottom: 1%;
  background-color: #f0f0f0;}

  #error_explanation h5 {
  color: #FF2626;}

  #error_explanation ul li {
  color: #242424;
  font-size: 14px;
  line-height: 16px;
}

/* text */
/* five possible fonts for drop down */
.font-selection {

}
.sumana {
   font-family: 'Sumana', serif;
 }

.raleway {
  font-family: 'Raleway', sans-serif;
}

.share {
  font-family: 'Share', cursive;
}

.satisfy {
  font-family: 'Satisfy', cursive;
}

.droid {
  font-family: 'Droid Sans Mono', ;
}

/* five possible colors for fonts for drop down */

.black-font {
  color: #000000;
}

.brown-font {
  color: #A52A2A;
}

.red-font {
  color: #FF0000;
}

.orange-font {
  color: #FFA500;
}

.yellow-font {
  color: #FFFF00;
}

.green-font {
  color: #008000;
}

.blue-font {
  color: #0000FF;
}

.indigo-font {
  color: #4B0082;
}

.violet-font {
  color: #800080;
}

h1.header {
  background-color: #000;
  color: #F9B029;
  padding: 2%;
  min-width: 300px;
  max-width: 40%;
  text-align: center;
  border-radius: 30px;
  font-size: 3em;
  position: inherit;
  margin-top: -3%;
  margin-left: 5%;
  border: 1pt solid #18A89D;
  margin-bottom: -3%;
}

h5 {
  font-size: 16px;
}

#form-title {
  margin: 0 auto;
  padding: 3%;
  color: #4D4D4D;
  /*font-style: italic;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.main {
  /*margin-left: 0;*/
  background-color: #343838;
  border-radius: 30px;
}

.edit {
  width: 33%
}

.square {
  text-align: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: teal;
}

.grid {
  float: left;
}

.no-bottom {
	border-bottom: 0px solid #ddd;
}

.divider {
  background-color: #000;
}


/*textarea#element_description {
  border: none;
  background-color: #CAFEFB;
  padding: 5px;
}*/
/*.main {*/
    /*float: left;*/
    /* clear: both; */
/*}*/


/*nav*/
nav {
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;

  /*a { color: $navbar-font-color; }*/

  i.material-icons {
    display: block;
    font-size:3rem;
    margin-bottom: -2px;
  }
}

.nav ul {
    background-color: none;
    transition: none !important;
/*    transition-property: none;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;*/
}
nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    /* height: 64px; */
    /*line-height: 64px;*/
}

/*dropdown*/
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    background-color: #244;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    border-bottom: none;
    width: auto !important;
}

.drop {
  padding: 0 35 0 0px;
  border-right: 1pt dotted #4D4D4D;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

/*.btn {
  display: block;
}*/

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
.input-field input[type='button'] {
  background-color: teal;
}

/* collapsible */
.collapsible-header {
  margin: 0;
  line-height: 14pt;
  /*padding: 0;*/}

.ch2 {
  margin: 0;
  line-height: 14pt;
  display: flex;
}

.ch2 p {
padding: 0 10px;
}

.collapsible-header.no-bottom.valign-wrapper {
  padding: 0;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    /* display: block; */
     float: none;
    /* text-align: center; */
    /* margin-right: 1rem; */
}

.collapsible-body p {
  margin: 0;
  /*padding: 2rem;*/
}

ul.collapsible {
  /*background-image: url(primary_img); */
  background-color: none;
}

/* media queries */
  @media all and (max-width: 600px) {
    .main {
      width: 100%;
    }
  }

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
/*logoutmedia="all"*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}
/*logoutmedia="all"*/
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
/*logoutmedia="all"*/
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
/*logoutmedia="all"*/
.z-depth-1, nav, .card-panel,  .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*  * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
  max-width: 520px;
}

/* clearfix */
/*.packery:after {
  content: ' ';
  display: block;
  clear: both;
}*/

/*.item {
  width: 80%;
  height: 60px;
  float: left;

}*/
/*
.item.gigante {
  width: 100%;
  height: 90px;
}*/

.back {
  background-color: #242424;
  color: #ffffff;
  margin: 2%;
}

a.back {
  background-color: black;
  color: #ffffff;
}

.btn-floating {
  background-color: #FCBC34;
}
/*Link styles*/
a:link { color: #F9B029; }
a:visited { color: #F9B029; }
a:hover { color: #FF702A; }
a:active { color: #107F80; }

h1 {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;}

.form-container {
  padding: 2%;
}