/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize/components/color";
$primary-color: color("black", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both; }

.inline {
  display: inline;
}

/*main containers*/
body {
background-color: #ffffff;
min-height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
}

.folio {
  height: 100%;
  padding: 2% .5%;
}

.folio_card {
  width: 30%;
  margin-bottom: 40px;
}

#folio-page {
  background-image: url("https://source.unsplash.com/user/beccanelson/likes/1200x800");
  background-size: cover;
  background-attachment: fixed;
}

#new-folio {
  text-align: center;
  width: 100%;
  a {
    color: white;
    font-size: 1.5em;
    width: 350px;
  }
}

.container {
  margin: 0 auto;
  padding: 1%;
  width: 95%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 30px;
  margin-top: 30px;
}

.folio {
  padding: 1%;
  width: 95%;
  margin-top: 30px;
  margin: 0 auto;
}

#container:after {
  content: ' ';
  display: block;
  clear: both;
}

.container-form {
  margin: 0 auto;
  padding: 5%;
  width: 90%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 30px;
  margin-top: 10px;
}

.row {
  margin-bottom: 0;
}
/*
.element.card a {
  color: blue;
}*/

.card {
  background-color: black;
}

.done {
  margin-top: 5px;
}

.block {
  display: block;
  width: 30%;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: black;
  color: teal;
  font-size: 24px;
  text-align: center;
  /*padding: 5%;*/
  line-height: 40px;
  letter-spacing: 1px;
  margin-top: -30px;
}

div.title {
  background-color: none;
}
.description {
  padding: 3% 4% 3% 4%;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  /*color: white;*/
  background-color: black;
  /*margin-top: -40px;*/
}

/*icons*/
.icon-label {
  padding-top: 12px;
  margin: 0;
  color: #107F80;
  /*float: right;*/
}
/*.icon p {

}*/
.icons {
float: right;

}

.element-link {
  position: absolute !important;
  bottom: 2px;
  right: 5px;
}

/*.icons i {
margin: 0 8%;
}*/

.icon-block .material-icons {
	font-size: inherit;
  vertical-align: middle;
  padding: 1em;
}

nav i.material-icons {
    display: block;
    font-size: 3rem;
    height: 56px;
    line-height: 56px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Images */
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.responsive-logo {
    max-width: 80%;
    max-height: 60px;
    /*width: 60%;*/
    min-width: 200px;
}

.primary-img {
  width: 100%;
}
.card_img {
  /*box-shadow: 0;*/
}

.home {
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
}

/* =Top Bar
-------------------------------------------------------------- */
.welcome {
  background-color: teal;
  color: #fff;
  padding: .5%;
  width: 100%;
}

.welcome ul {
  margin: 0;
  li  {
    display: inline;
    a {
      color: white;
      /*display: inline-block;*/
      font-size: .8em;
      margin: 0 10px;
      padding: .5%;
      text-transform: uppercase;
      letter-spacing: 10%;
    }
  }
}

/*errors*/
#notice  {
  color: #43DFFF;
  /*background-color: #C6FFF7;*/
  padding: 1%;
  margin: 1%;
  margin-right: 1%;
}

.errors {
	color: #FF814D;
  padding: 20px;

}

.field_with_errors {
  padding: 2px;
  background-color: #FFD3BF;
  /*display: table;*/
}

#error_explanation {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #FF2626;
  padding: 0 3%;
  padding-bottom: 0;
  margin-bottom: 1%;
  background-color: #f0f0f0;}

  #error_explanation h5 {
  color: #FF2626;}

  #error_explanation ul li {
  color: #242424;
  font-size: 14px;
  line-height: 16px;
}

.alert {
  background-color: #242424;
  padding-top: 10px;
  padding-left: 30px;
}
.alert-info {
  color: #CAFEFB;
  /*text-align: center;*/
}

/* text */
/* five possible fonts for drop down */
.font-selection {

}
.sumana {
   font-family: 'Sumana', serif;
 }

.raleway {
  font-family: 'Raleway', sans-serif;
}

.share {
  font-family: 'Share', cursive;
}

.satisfy {
  font-family: 'Satisfy', cursive;
}

.droid {
  font-family: 'Droid Sans Mono', ;
}

/* five possible colors for fonts for drop down */

/*.black-font {
  color: #000000;
}*/

.brown-font {
  color: #A52A2A;
}

.red-font {
  color: #FF0000;
}

.orange-font {
  color: #FFA500;
}

.yellow-font {
  color: #FFFF00;
}

.green-font {
  color: #008000;
}

.blue-font {
  color: #0000FF;
}

.indigo-font {
  color: #4B0082;
}

.violet-font {
  color: #800080;
}

h1.header {
  background-color: #000;
  color: #F9B029;
  padding: 2%;
  min-width: 300px;
  max-width: 40%;
  text-align: center;
  border-radius: 30px;
  font-size: 3em;
  position: inherit;
  margin-top: -3%;
  margin-left: 5%;
  border: 1pt solid #18A89D;
  margin-bottom: -3%;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 0px;
  letter-spacing: 1px;
}

#form-title {
  /*border-radius: 30px;*/
  /*border: none;*/
  border-top: 3pt solid #107F80;
  margin: 0 auto;
  padding: 5%;
  color: #ffffff;
  /*font-style: italic;*/
  margin-top: 5px;
  /*margin-bottom: 5px;*/
  background-color: #107F80;
  text-align: center;
}

.main {
  /*margin-left: 0;*/
  background-color: #343838;
  border-radius: 30px;
}

.edit {
  width: 33%
}

.square {
  text-align: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: teal;
}

.grid {
  float: left;
}

.no-bottom {
	border-bottom: 0px solid #ddd;
}

.divider {
  background-color: #000;
}


/*textarea#element_description {
  border: none;
  background-color: #CAFEFB;
  padding: 5px;
}*/
/*.main {*/
    /*float: left;*/
    /* clear: both; */
/*}*/


/*nav*/
nav {
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;}

  /*a { color: $navbar-font-color; }*/

 .material-icons i {
    /*display: block;*/
    font-size:3rem;
    margin-bottom: -2px;
    margin: 0;
  }


.nav ul {
    background-color: none;
    transition: none !important;
/*    transition-property: none;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;*/
}
nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    /* height: 64px; */
    /*line-height: 64px;*/
}

/*dropdown*/
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    background-color: #244;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    border-bottom: none;
    width: auto !important;
}

.drop {
  padding: 0 35 0 0px;
  border-right: 1pt dotted #4D4D4D;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
  height: 40px;
}

/*.btn {
  display: block;
}*/



/* collapsible */

#folio-page .collapsible-header {
      background-color: hsla(0, 0%, 0%, 0.65);
}

.collapsible-header {
  margin: 0;
  line-height: 14pt;
  /*padding: 0;*/}

.ch2 {
  margin: 0;
  line-height: 14pt;
  display: flex;
}

.ch2 p {
padding: 0 10px;
}

/*.collapsible-header.no-bottom.valign-wrapper {
  padding: 0;
}*/

.collapsible-header i {
  color: #107F80;
  margin-right: 5px;
}

.collapsible-body p {
  margin: 0;
  padding: 0rem;
}
.collapsible-body {
  padding-left: 10px;
  padding-right: 0px;
}

.collapsible-body {
  background-color: white;
  opacity: 10;
}

ul.collapsible {
  /*background-image: url(primary_img); */
  margin-top: 0px;
  background-color: none;
  font-size: 12px;
  color: #107F80;
}

/*.div.collapsible-body*/
 input#width1 {
  margin-left: 20px;
}
/* media queries */
  @media all and (max-width: 600px) {
    .main {
      width: 100%;
    }
  }

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
/*logoutmedia="all"*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}
/*logoutmedia="all"*/
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
/*logoutmedia="all"*/
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

[type="radio"] + label:before, [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
}

/*logoutmedia="all"*/
/*.z-depth-1, nav, .card-panel,  .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}*/
/*.card-panel,*/
.z-depth-1, nav, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
  * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { background-color: #242424; }

/*.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
  max-width: 520px;
}
*/
/* clearfix
/*.packery:after {
  content: ' ';
  display: block;
  clear: both;
}*/

/*.item {
  width: 80%;
  height: 60px;
  float: left;

}*/
/*
.item.gigante {
  width: 100%;
  height: 90px;
}*/

.back {
  background-color: #242424;
  color: #ffffff;
  margin: 2%;
}

a.back {
  background-color: black;
  color: #ffffff;
}

.btn-floating {
  background-color: #FCBC34;
}

.btn-floating i {
  font-size: 30px;
}

/*Link styles*/
a:link { color: #F9B029; }
a:visited { color: #ffffff; }
a:hover { color: #FCBC34; }
a:active { color: #107F80; }

h1 {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;}

.form-container {
  padding: 2%;
}

label {
  color: black;
  font-weight: 800px;
  font-size: 16px;
}

#element_element_link, #element_title, input.select-dropdown, #user_last_name, #user_first_name, #user_email, #user_password, #user_bio, input#session_email, input#session_password {
  /*padding: 0 5%;*/
  width: 95%;
  border-bottom: 2pt solid #107F80;
  border-radius: 5px;
  /*margin: 0 auto;*/
 /*background-color: teal;*/
}
#user_last_name:active {
  width: 95%;
  border-bottom: 2pt solid #107F80;
  border-radius: 5px;
}

/*#user_bio {

}#user_bio {

}*/
/*.select-dropdown .active*/
/*
.file-field .input-field, input.select-dropdown  {
background-color: teal;
}*/

.input-field label {
  color: black;
  font-weight: 800px;
  font-size: 16px;
}

.input#element_title {
  color: white;
}
.dropdpwn-content {
background-color: blue;
}

.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  /*color: #8E8DBE;*/
  border: 2pt solid teal;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
/*card-image*/
.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}

.element:active {
  border: 3pt inset #FCBC34;
 }

.is-active {
    border: 3pt inset #FCBC34; }



.backdrop {
  background-color: #107F80;
}


.slider .indicators .indicator-item.active {
    background-color: #FCBC34;
}

.indicators .indicator-item {
    background-color: #107F80;
}


.btn, .btn-large, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: block;
    height: 50px;
    line-height: 50px;
    outline: 0;
    padding: 0px 2.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.container-clear {
  margin: 0 auto;
  padding: 5%;
  width: 95%;
  height: 100%;
  /*background-color: #F2F2F2;*/
  /*border-radius: 30px;*/
  margin-top: 30px;
}
