.color-1 {
    color:#107f80;
}
.color-2 {
    color:#18a89d;
}
.color-3 {
    color:#cafefb;
}
.color-4 {
    color:#f2f2f2;
}
.color-5 {
    color:#ff6661;
}
.color-6 {
    color:#ff2922;
}
.color-7 {
    color:#fcbc34;
}
.color-8 {
    color:#ff702a;
}
.color-9 {
    color:#ff814d;
}
.color-10 {
    color:#242424;
}
.color-11 {
    color:#4d4d4d;
}
