// Place all the styles related to the folios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.delete, .done {
  opacity: .8;
  position: absolute;
  right: 5px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.delete {
  top: 5px;
  color: #FF2626;
}

.done {
  top: 25px;
  color: #F9B029;
}
