<%= form_for :folio do |f| %>



<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">stars</i><p class="icon-label">Title</p></div>
    <div class="collapsible-body">
      <div class="field">
        <%= f.text_field :title %>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">star_rate</i><p class="icon-label">Description</p></div>
    <div class="collapsible-body">
      <div class="field">
        <%= f.text_area :description, class: "materialize-textarea" %>
      </div>
    </div>
  </li>
</ul>

<div class="actions">
  <%= f.submit "Submit", class: :"waves-effect waves-light btn right"  %>
</div>
<% end %>
