<div id="folio-page">

  <div class="folio">
    <p id="notice"><%= notice %></p>
    <div id="new-folio"><%= render 'new' %></div>
    <div id="container">
      <%= render 'foliocard' %>
    </div>

  </div>
</div>
