<div class="folio">
  <!-- <p id="notice"><%= notice %></p> -->

<div class="packery">
  <div class="item"><%= render 'foliocard' %></div>
  <div class="item"><%= render 'new' %></div>
</div>

</div>

