<div class="container-form clearfix">
<%= link_to '<i class="material-icons">chevron_left</i>'.html_safe, users_path, class: :"btn-floating waves-effect waves-light" %>
<h1>New Folio</h1>

<%= render 'form' %>

</div>
